.forgot-container {
  width: 300px;
  background-color: #4D556C;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-form {
  width: 100%;
}

.forgot-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.forgot-description {
  font-size: 12px;
  text-align: center;
  margin-bottom: 15px;
}

input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.reset-button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1E90FF;
  color: white;
  cursor: pointer;
}

.back-to-login {
  text-align: center;
  margin-top: 10px;
}

.back-to-login a {
  color: #0a1374;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
